.footer-container {

  background: black;

  ul {

    padding: 10px;

    li {
      color: white;
      list-style-type: none;
      font-size: 12px;
    }

  }

  h2 {
    color: white;
    font-size: 12px;
  }

}
