.menu {

  width: 300px;
  padding: 20px;

  h1 {
    font-size: 10px;
  }

  .slider-container {

    width: 200px;
    display: flex;
    justify-content: space-between;

    .tfd-slider-value {

      width: 20px;
      margin-left: 20px;

    }

  }

}